@model NewVersionLampstore.Models.Product

@{
    ViewBag.Title = string.Format("{0} | Товари | {1}", Model.Name, NewVersionLampstore.Constants.TITLE);
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.fancybox.pack.js")" type="text/javascript"></script>
 
<!--<script>
    $(document).ready(function () {
        $("#single_1").fancybox({
            helpers: {
                title: {
                    type: 'float'
                }
            }
        });
    });
</script>
-->
<p>
@{
    List<string> path = NewVersionLampstore.Helper.Helper.GetUrlPath(Request);

    if (path.Count == 2)
    {
        @Html.ActionLink("На головну", "Index", "Home")
        @NewVersionLampstore.Constants.BREADCRUMBS_SEPARATOR
       @Html.ActionLink(string.IsNullOrWhiteSpace(Request.QueryString["find"]) ? "Товари" : "Результаты поиска", "GetByShortName", new { shortname = string.Empty, page = Request.QueryString["page"], find = Request.QueryString["find"] })
        @NewVersionLampstore.Constants.BREADCRUMBS_SEPARATOR
        @Model.Name
    }
    else if (NewVersionLampstore.Helper.Helper.GetUrlPath(Request).Count == 3)
    {
        @Html.ActionLink("На головну", "Index", "Home")
        @NewVersionLampstore.Constants.BREADCRUMBS_SEPARATOR
        @Html.ActionLink("Виробники", "GetByShortName", "Manufacturer", new { shortname = string.Empty }, null)
        @NewVersionLampstore.Constants.BREADCRUMBS_SEPARATOR
        
          
         
        @Html.ActionLink(path[1], "GetByShortName", "Manufacturer", new { shortname = path[1], page = Request.QueryString["page"] }, null)
        
        @NewVersionLampstore.Constants.BREADCRUMBS_SEPARATOR
        @Model.Name
    }
    else if (path.Count == 4 && path[0] == "catalog" && path[2] == "products")
    {
        NewVersionLampstore.Models.Category category = Model.CategoryProducts.Where(item => item.Category.ShortName == path[1]).Select(item => item.Category).FirstOrDefault();
        
        @Html.ActionLink("На головну", "Index", "Home")
        @NewVersionLampstore.Constants.BREADCRUMBS_SEPARATOR
        
        if (category != null)
        {
            @Html.ActionLink(category.Name, "GetByShortName", "Category", new { shortname = category.ShortName }, null)
            @NewVersionLampstore.Constants.BREADCRUMBS_SEPARATOR
        }
        
        @Model.Name
    }
    else if (path.Count == 4 && path[0] == "catalog" && path[2] != "products")
    {
        NewVersionLampstore.Models.Collection collection = Model.CollectionProducts.Where(item => item.Collection.ShortName == path[2]).Select(item => item.Collection).FirstOrDefault();
        NewVersionLampstore.Models.Category category = collection == null ? null : collection.Category;
        
        @Html.ActionLink("На головну", "Index", "Home")
        @NewVersionLampstore.Constants.BREADCRUMBS_SEPARATOR

        if (category != null)
        {
            @Html.ActionLink(category.Name, "GetByShortName", "Category", new { shortname = category.ShortName }, null)
            @NewVersionLampstore.Constants.BREADCRUMBS_SEPARATOR
        }

        if (collection != null)
        {
            @Html.ActionLink(collection.Name, "GetCollectionInCategory", "Collection", new { category = collection.Category.ShortName, collection = collection.ShortName }, null)
            @NewVersionLampstore.Constants.BREADCRUMBS_SEPARATOR
        }
        
        @Model.Name
    }
}
</p>

<p>@Html.ActionLink("Редагувати", "Edit", new { id = Model.ID })&nbsp;&nbsp;&nbsp;@Html.ActionLink("Видалити", "Delete", new { id = Model.ID, page = Request.QueryString["page"] })</p>



<div class="dialogdiv" >

</div>

<div class="product_menu_right"><h2 class="product_name">@Model.Name</h2>
<p><span style="font-weight:bold">Виробник: </span>@Model.Manufacturer.Name</p>
<p><span style="font-weight:bold">Ціна: </span>@Model.Price грн.</p>
<p>@Model.Description</p>
<p><span style="font-weight:bold">Вимота: </span>@Model.height см.</p>
<p><span style="font-weight:bold">Ширина(Діаметр): </span>@Model.width см.</p>

</div>


@{
    <h2>Загрузить картинку</h2>
    
    using (Html.BeginForm("UploadImage", "Product", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.Hidden("objID", Model.ID)

        <table>
            <tr>
                <td>
                    @{
        string filename = string.Empty;
        if (string.IsNullOrWhiteSpace(Model.ImageExt)) { filename = "0.jpg"; }
        else { filename = string.Format("{0}{1}?{2}", Model.ID, Model.ImageExt.TrimEnd(), DateTime.Now); }
                    }
                    <img src="@Url.Content("~/Content")/@(NewVersionLampstore.Constants.PRODUCT_IMAGES_FOLDER)/@(NewVersionLampstore.Constants.PRODUCT_IMAGES_MINI_FOLDER)/@filename" alt="@Model.Name" />
                </td>
                <td style="padding-left:20px">
                    <input type="file" name="imagefile" />
                    <br />
                    <input type="submit" value="Загрузить" />
                </td>
            </tr>
        </table>
    } 
    
    <h2>Категории</h2>
    
    if (Model.CategoryProducts.Count > 0)
    {
        <table>
        @foreach (var item in Model.CategoryProducts.OrderBy(item => item.Category.Name))
        {
            <tr>
                <td>@item.Category.Name</td>
                <td style="padding-left:20px">@Html.ActionLink("Видалити", "DeleteExpress", "CategoryProduct", new { id = item.ID }, new { onclick = "javascript:return confirm('Вы уверены?');" })</td>
            </tr>
        }
        </table>
    }
    else{
        <p>Не додадано жодної категорії</p>
    }
    
    <h2>Добавить категорию</h2>
    
    using (Html.BeginForm("Add", "CategoryProduct", FormMethod.Post))
    {
        @Html.Hidden("ProductID", Model.ID)
        
        var queryCategories = (new NewVersionLampstore.Service.CategoryEntityService()).Get().Select(item => new { ID = item.ID, Name = item.Name }).ToList();
        var listCategories = queryCategories.Select(item => new SelectListItem() { Text = item.Name, Value = item.ID.ToString(), Selected = false }).ToList();
        @Html.DropDownList("CategoryID", listCategories, "...")

        <input type="submit" value="Добавить" />
    }
    <h2>Коллекции</h2>
    
    if (Model.CollectionProducts.Count > 0)
    {
        <table>
        @foreach (var item in Model.CollectionProducts.OrderBy(item => item.Collection.Name))
        {
            <tr>
                <td>@item.Collection.Name</td>
                <td style="padding-left:20px">@Html.ActionLink("Delete", "DeleteExpress", "CollectionProduct", new { id = item.ID }, new { onclick = "javascript:return confirm('Are you sure?');" })</td>
            </tr>
        }
        </table>
    }
    
    <h2>Добавить коллекцию</h2>
    using (Html.BeginForm("Add", "CollectionProduct", FormMethod.Post))
    {
        @Html.Hidden("ProductID", Model.ID)

        var queryCategories = (new NewVersionLampstore.Service.CategoryEntityService()).Get().Select(item => new { ID = item.ID, Name = item.Name }).ToList();
        var listCategories = queryCategories.Select(item => new SelectListItem() { Text = item.Name, Value = item.ID.ToString(), Selected = false }).ToList();
        @Html.DropDownList("CategoryID", listCategories, "...", new { onchange = "javascript:document.CollectionsListForm.CategoryID.value=this.value; document.CollectionsListForm.CollectionsListFormSubmit.click();" })

    <br />
    <div id="CollectionsList" style="display:inline">
        @{
        var listCollections = new List<SelectListItem>();
        @Html.Partial("_CollectionsList", listCollections)
        }
    </div>

    <input type="submit" value="Добавить" />
    }

    using (Ajax.BeginForm("CollectionsList", null, new AjaxOptions { UpdateTargetId = "CollectionsList" }, new { name = "CollectionsListForm" }))
    {
        @Html.Hidden("CategoryID", 0)
        <input type="submit" name="CollectionsListFormSubmit" style="display:none" />
    }
}