


<a id="tab_ljustri" href="@Url.Action("GetByShortName", "Category", new { shortname = "ljustri" })"></a>

<a id="tab_svtilnikistelov" href="@Url.Action("GetByShortName", "Category", new { shortname = "svtilnikistelov" })"></a>

<a id="tab_torser" href="@Url.Action("GetByShortName", "Category", new { shortname = "torser" })"></a>

<a id="tab_bra" href="@Url.Action("GetByShortName", "Category", new { shortname = "bra" })"></a>

<a id="tab_nastlnalampa" href="@Url.Action("GetByShortName", "Category", new { shortname = "nastlnalampa" })"></a>

<a id="tab_pdsvtka" href="@Url.Action("GetByShortName", "Category", new { shortname = "pdsvtka" })"></a>
