@model NewVersionLampstore.Models.Order

@{
    ViewBag.Title = string.Format("{0} {1} {2} ", Model.Date.ToString(), Model.LastName, Model.FirstName, NewVersionLampstore.Constants.TITLE);
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    
}

<p>
    @Html.ActionLink("На головну", "Index", "Admin")
    @NewVersionLampstore.Constants.BREADCRUMBS_SEPARATOR
    @Html.ActionLink("Заказы", "Index", new { page = Request.QueryString["page"] })
    @NewVersionLampstore.Constants.BREADCRUMBS_SEPARATOR
    @string.Format("{0} {1} {2} ", Model.Date.ToString(), Model.LastName, Model.FirstName)
</p>

<h2>@string.Format("{0} {1} {2} ", Model.Date, Model.LastName, Model.FirstName)</h2>

<p><span style="font-weight:bold">Телефон: </span>@Model.Phone</p>
<p><span style="font-weight:bold">Адрес(Місто): </span>@Model.Address</p>
<p><span style="font-weight:bold">Тип оплати: </span>@Model.TypePayment</p>
<p><span style="font-weight:bold">Тип доставки: </span>@Model.TypeShipped</p>
<p><span style="font-weight:bold">Електрона Пошта: </span>@Model.Email</p>
<p><span style="font-weight:bold">Статус: </span>@Model.OrderStatus</p>

@using (Html.BeginForm("ChangeStatus", "Order", FormMethod.Post))
{
    @Html.Hidden("orderID", Model.ID)
    @Html.Hidden("currentPage", Request.QueryString["page"])

    var queryStatuses = ( new NewVersionLampstore.Service.OrderStatusEntityService()).Get().Select(item => new { id = item.ID, Name = item.Name }).ToList();
    var listStatuses = queryStatuses.Select(item => new SelectListItem() { Text = item.Name, Value = item.id.ToString(), Selected = false }).ToList();
    @Html.DropDownList("statusID", listStatuses, "...", null)

    <input type="submit" value="Змінити статус" />
}

<h2>Товари</h2>

<table>
    <tr>
        <th>ID</th>
        <th style="padding-left:20px">Найменування</th>
        <th style="padding-left:20px">Виробник</th>
        <th style="padding-left:20px">Ціна</th>
        <th style="padding-left:20px">Кількість</th>
        <th style="padding-left:20px">Загальна вартість</th>
    </tr>
    @foreach (var item in Model.OrderItems)
    {
        <tr>
            <td>@item.ID</td>
            <td style="padding-left:20px">@item.Name</td>
            <td style="padding-left:20px">@item.Manufacturer</td>
            <td style="padding-left:20px">@item.Price грн</td>
            <td style="padding-left:20px">@item.Number шт</td>
            <td style="padding-left:20px">@(item.Price * item.Number) грн</td>
            
        </tr>
    }
    <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td style="font-weight:bold">Итого:</td>
        <td style="font-weight:bold">@Model.OrderItems.Select(item => item.Price * item.Number).Sum() грн</td>
    </tr>
    

</table>